.my-footer{

    padding: 1em;
    height: 5em;
    background-color: black;
    margin-top: 1.5em;
    color: white;
    font-size: 80%;
  }
  .room-image{
    max-width: 50%;
  }

  .notie-container {
    box-shadow: none;
  }