{{template "base" .}}

{{define "content"}}

 <div class="container">

  <h1>This will be a contact page </h1>
    </div>

    <div class="row">
      <div class="col">
       
      </div>
    </div>

{{end}}