{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
      <div class="col">     
         <img src="/static/images/majors-suit.png" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="room image">
     </div>
    </div>

    <div class="row">
      <div class="col">
        <h1 class="text-center mt-4">Major's Suits</h1>
        <p>
            Bu site Akdeniz'in sıcak sularında istediğiniz zaman diliminde otellerden yer ayırtabilmeniz içindir. 
            Bu site Akdeniz'in sıcak sularında istediğiniz zaman diliminde otellerden yer ayırtabilmeniz içindir.
            Bu site Akdeniz'in sıcak sularında istediğiniz zaman diliminde otellerden yer ayırtabilmeniz içindir.
            Bu site Akdeniz'in sıcak sularında istediğiniz zaman diliminde otellerden yer ayırtabilmeniz içindir.
            Bu site Akdeniz'in sıcak sularında istediğiniz zaman diliminde otellerden yer ayırtabilmeniz içindir.
            Bu site Akdeniz'in sıcak sularında istediğiniz zaman diliminde otellerden yer ayırtabilmeniz içindir.
            Bu site Akdeniz'in sıcak sularında istediğiniz zaman diliminde otellerden yer ayırtabilmeniz içindir.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <a id="check-availability-button"href="#!" class="btn btn-success">Check Availability</a>
        
      </div>
    </div>
  
{{end}}

{{define "js"}}

      <script>
           document.getElementById("check-availability-button").addEventListener("click" , function(){
            
              let html = 
              `
              <form id="check-availability" action = "" method= "post" novalidate class="needs-validation">
                <div class="form-row">  
                  <div class="col">
                    <div class="form-row" id="reservaiton-dates-modal">
                      <div class="col">
                        <input required class="form-control" type="date" name="start" id="start" placeholder="Arrival" />
                      </div>
                      <div class="col">
                        <input required class="form-control" type="date" name="end" id="end" placeholder="Departure" />
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              `
              
              attention.custom({msg: html , title: "Choose your dates "});
              });
      </script>

{{end}}