
{{template "base" .}}

{{define "content"}}
    <div class="container">

      <div class="row">
        <div class="col">
          <h1>Make Reservation</h1>
          <h2><strong> Reservation details </strong></h2>

          
          <form method="post" action="/make-reservation" class="" novalidate>
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

            <div  class="form-group">
              {{with .Form.Errors.Get "first_name"}}
                <label class="text-danger" >{{.}}</label>
              {{end}}
              <label for="first_name">First Name:</label>
             <input class="form-control {{ with .Form.Errors.Get "first_name" }}{{.}} is_invalid {{end}}" type="text" name="first_name" id="first_name" autocomplete="off" required>
            </div>

            <div class="form-group">
              <label for="last_name">Last Name:</label>
              <input class="form-control" type="text" name="last_name" id="last_name"   autocomplete="off" required>
            </div>
              
            <div class="form-group">
              <label for="email">Email:</label>
              <input class="form-control" type="email" name="email" id="email" class="form-control" autocomplete="off" required>
            </div>

            <div class="form-group">
              <label for="phone">Phone Number:</label>
              <input class="form-control" type="text" name="phone" id="phone" class="form-control" autocomplete="off" required>
            </div>           

            <hr>
            <input type="submit" class="btn btn-primary" value="Make Reservation">
              
          </form>

        </div>
      </div>
    </div>
{{end}}